{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
  <style>
    body {
      background-image: url('https://preview.redd.it/need-for-speed-underground-2-3840x2160-v0-aubav3w9ngm91.png?auto=webp&s=9435b36cff7ecd81adbce2e268249a1726727676');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
     }
  </style>

</div>

<div class="jumbotron bg-dark d-flex flex-column align-items-center justify-content-center text-center">
    <h1 style ="color:gold";>This Era of Need For Speed captured the peak of Car Culture</h1>
</div>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://media.moddb.com/images/members/5/4517/4516948/profile/Screenshot_2025-07-19_091849.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://i.ytimg.com/vi/K3EnLZH-Nss/maxresdefault.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://nfsmods.xyz/uploads/thumbnails/Archie-354f03e0ca7ff5f87a036b208a5e9ff4.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>



{% endblock %}