{% extends "base.html" %}
{% block content %}

<style>
body {
  background-image: url('https://preview.redd.it/zgfz64t3bov31.jpg?auto=webp&s=e045f6baa394adad47a62613c625b07aa6d78876');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    color: #ffc107;
  }

  .form-group {
    margin-bottom: 15px;
  }

  .form-label {
    display: block;
    margin-bottom: 5px;
  }

  .form-control {
    width: 100%;
  }

  .btn {
    width: 100%;
  }

</style>


  <div class="login-container">
    <form method="POST">
        {{form.hidden_tag()}} 
  
      <div class="form-group text-warning">
      {{form.email.label(class="mb-3 text-warning")}}{{form.email(class="form-control bg-dark text-warning")}}
      </div>
      <div class="form-group text-warning">
        {{form.username.label(class="mb-3 text-warning")}}{{form.username(class="form-control bg-dark text-warning")}}
      </div>  
      <div class="form-group text-warning">
        {{form.securityQuestion.label(class="mb-3 text-warning")}}{{form.securityQuestion(class="form-control bg-dark text-warning")}}
      </div>  
      <div class="form-group text-warning">
        {{form.securityAnswer.label(class="mb-3 text-warning")}}{{form.securityAnswer(class="form-control bg-dark text-warning")}}
      </div>
      <div class="form-group text-warning">
        {{form.password.label(class="mb-3 text-warning")}}{{form.password(class="form-control bg-dark text-warning")}}
      </div>    
      <div class="form-group text-warning">
        {{form.pass_confirm.label(class="mb-3 text-warning")}}{{form.pass_confirm(class="form-control bg-dark text-warning")}}
      </div>  
      <div class="form-group text-warning">
      {{form.submit(class="btn btn-primary bg-warning")}}
      </div>

    </form>


  </div>

{% endblock %}